###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

###IntelliJ###

*.iml
*.ipr
*.iws
.idea/


###SublimeText###

# SublimeText project files
*.sublime-workspace

qd-boot*